<template>
   <div class="container">
       <span v-if="isValidation">
            Validating {{items.exec}} out of {{items.total}} Records | Validating {{items.currentRow.email}}
       </span>
       <span v-if="isProcess">
            Processing {{items.exec}} out of {{items.total}} Records | Processing {{items.currentRow.email}}

       </span>
       <!-- Alert message -->
       <div class="alert alert-dismissible fade show" :class="[validationError ? classBind : '', errorClass]" role="alert" v-if="errorMsg != ''">
         <strong>{{errorMsg}}</strong>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       <!-- Alert message Done-->
        <div class="input-group">
            <input type="file" @change="onFileChange" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
            <button class="btn btn-outline-secondary" @click="parseCsv" id="inputGroupFileAddon04">Button</button>
        </div>

        <div class="modal-footer" v-if="consent">
            <button type="button" data-dismiss="modal" @click="proceed" class="btn btn-primary" id="delete">Yes</button>
            <button type="button" data-dismiss="modal" class="btn">No</button>
        </div>
    </div>
</template>

    <script>
        export default {
            data() {
                return {
                    isProgress: false,
                    csvFile: [],
                    validationError: false,
                    errorMsg: '',
                    classBind:'',
                    errorClass:'',
                    items: [],
                    fileValidation: false,
                    totalRecords:[],
                    counter:1,
                    fail:[],
                    pass:[],
                    consent: false,
                    isValidation:false,
                    isProcess:false,
                }
            },
            created() {
                Echo.channel('csvChannel')
                    .listen('CsvImport', (e) => {
                        console.log('------------------');
                        console.log(e.csvData.action);
                        console.log('------------------');
                        if(e.csvData.action == "validation"){
                            this.isValidation = true;
                            this.isProcess = false;
                        }else if(e.csvData.action == "process"){
                            this.isValidation = false;
                            this.isProcess = true;
                        }
                       this.items = e.csvData;
                });
            },
            mounted() {
            },
            methods: {
                // File reader
                onFileChange(e) {
                    let self = this;
                    let files = e.target.files || e.dataTransfer.files;
                    const file = e.target.files[0];

                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            var csv_val = e.target.result.split("\r\n");
                            for (var i = 0; i < csv_val.length; i++) {
                                if(csv_val[i]){
                                    self.totalRecords.push( csv_val[i] );
                                }
                            }
                        };
                        reader.readAsText(file);
                    }

                   if (!files.length)
                    return;
                    let getFileExt = files[0].name.substring(files[0].name.lastIndexOf('.') + 1).toLowerCase();
                    if(getFileExt != 'csv'){
                        self.validationError = true;
                        self.errorMsg = 'Invalid file type. Please upload CSV File.';
                        self.classBind = 'alert-danger';
                        return;
                    }
                    self.csvFile = files[0];
                    self.validationError = false;
                },
        // Parsing csv one by one through papa parse
        parseCsv() {
          let self = this;
          return new Promise((resolve) => {
            self.$papa.parse(self.csvFile, {
                header: false,
                skipEmptyLines: true,
                step: async function(row, parser) {
                    if(!self.fileValidation) {
                        parser.pause();
                        let first_row_data = row.data;
                        if (first_row_data[0]=='EMAIL' && first_row_data[1]=='PERSON PREFIX' &&
                        first_row_data[2]=='FIRST NAME'  && first_row_data[3]=='LAST NAME' && first_row_data[4]=='ACTIVE') {
                            self.fileValidation = true;
                            parser.resume();
                        } else{
                            self.validationError = true;
                            self.errorMsg = 'File header column name mismatch.'
                            self.classBind = 'alert-danger';
                            parser.abort();
                        }
                    } else {
                        parser.pause();
                        let postData = {email: row.data[0],person_prefix: row.data[1], first_name: row.data[2], last_name: row.data[3], active: row.data[4]};
                        let csvTotalRows = self.totalRecords.length - 1;
                        let execRecord = self.counter++;
                        axios.post(apiurl+ '/csv/validate', {csv_data: postData,totalRecords: csvTotalRows,exec:execRecord})
                            .then(response => {
                                // execRecord++;
                                if(response.data[0].validFail)
                                {
                                    self.fail.push(response.data[0].validFail);
                                }else{
                                    self.pass.push(response.data[0].pass);
                                }
                                parser.resume();
                            });
                    }
                },
                complete: async function(results, file) {
                    self.consent = true;
                }
              });
          });
        }, //End parsecsv

        proceed()
        {
            let self = this;
            axios.post(apiurl+ '/csv/proceed',self.pass).then(response => {
                if(response.data.status == 'success')
                {
                    self.validationError = true;
                     self.errorMsg = 'All records are inserted successfully';
                     self.classBind = 'alert-success';
                }
            });
        }
            },
        }
    </script>

    <style scoped>
    .container{
         position:fixed;
         top:20%;
    }
    </style>
